<table class="line-items">
  <thead>
    <tr>
      <th class="quantity">Qty</th>
      <th class="item-number">Item #</th>
      <th class="description">Description</th>
      <th class="unit-price">Unit Price</th>
      <th class="total">Total</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="notes">
  <h3>Notes</h3>
  <p><%= invoice.name %></p>
  <p><%= invoice.instructor %></p>
</div>
